@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {
    
    body {
        background-image: radial-gradient(var(--cor5), var(--cor4), var(--cor3), var(--cor1));
    }

    main section {
        width: 90vw;
        height: 360px;
        max-width: 650px;
        border-radius: 10px 0px 0px 10px;
    }

    main section #img {
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    main section #login-tela h1 {
    padding: 40px 0px 0px 0px;
    }

    main section #login-tela p {
        padding: 10px 0px 20px 0px;
    }

    main section #login-tela {
        float: right;
        width: 60%;
        height: 100%;
    }
}

@media screen and (min-width:992px) {
    
    body {
        background-image: radial-gradient(var(--cor5), var(--cor4), var(--cor3), var(--cor1));
    }


    main section {
        max-width: 800px;
        width: 90vw;
        height: 320px;
        border-radius: 10px 0px 0px 10px;
    }

    main section #img {
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    main section #login-tela h1 {
    padding: 40px 0px 0px 0px;
    }

    main section #login-tela p {
        padding: 10px 0px 20px 0px;
    }

    main section #login-tela {
        float: right;
        width: 60%;
        height: 100%;
    }
    
}