@charset "UTF-8";

:root {
    --cor1: #03045E;
    --cor2: #0077B6;
    --cor3: #00B4D8;
    --cor4: #90E0EF;
    --cor5: #CAF0F8;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    background-color: var(--cor3);
    position: relative;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--cor1);
}


section {
    background-color: white;
    max-width: 520px;
    width: 80vw;
    height: 70vh;

    display: block;

    position: absolute;
    top: 50%;
    left: 50%;

    
    border-radius: 10px 10px 0px 0px;
    transition: width 0.5s, heigth 0.5s;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
}

#img {
    height: 200px;
    background-size: cover;
    background-position: center bottom;
    background-image: url("../img/imagem-montanha.jpg");
    border-radius: 10px 10px 0px 0px;
}

#login-tela {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

#login-tela h1 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 15px;
}

#login-tela p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

form .preencher input {
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

form .preencher input:hover {
    background-color: white;
    transition: 0.4s ease;
}

form .preencher label {
    display: none;
}

form input[type=submit] {
    width: 100%;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: var(--cor3);
    cursor: pointer;
    padding: 8px;
}

form input[type=submit]:hover {
    background-color: var(--cor2);
    color: white;
    transition: 0.4s ease;
}

form .botao a {
    width: 100%;
    display: block;
    color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor5);
    padding: 8px;
}

form .botao a abbr {
    text-decoration: none;
}

form .botao a:hover {
    background-color: var(--cor2);
    color: white;
    transition: 0.4s ease;
}

form .conteudo {
    margin: 6px;
}